<footer th:fragment="footer" id="footer" class="text-center py-5">
  <div class="footer-center">
    <div class="footer-powered-by">
      <span th:text="'PoweredBy ฝ่ายสารสนเทศ (Information Technology) บริษัท ศักดิ์สยามลิสซิ่ง จำกัด (มหาชน)'"></span>
      <span th:text="'Tel: 055 044 920 , 055 044 889 ต่อ 882000 E-Mail: it.data@saksiam.co.th'"></span>
    </div>
    <!-- <a th:href="@{'/licenses'}" id="licenses" target="_blank" class="mx-1" title="" th:text="#{licenses.nav}">Licenses</a> -->
    <!-- <a href="https://stirlingpdf.info/s/clwzgtfw7000gltkmwz1n212m" id="survey" target="_blank" class="mx-1" title="" th:text="#{survey.nav}">Survey</a> -->
  </div>
</footer>

